//
// Knote styles
// ---------------------------------------

@import 'nib'
@import 'variables.styl'

html
  -webkit-font-smoothing: antialiased

#container
  width: 100%
  height: 100%
  overflow: hidden

.padList
  top: 50px
  position: relative
  overflow-y: auto
  overflow-x: hidden
  height: calc(100% - 50px)

  .min-k-btn
    padding: 0
    font-size: 20px
    height: 29px
    width: 30px
    line-height: 30px

.header
  position: relative
  z-index: 100

  &#header
    width: 100%
    position: fixed
    top: 0px
    font-size: 16px
    z-index: 200
    &.scrolling
      background-color: white
      box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.45)
    .title
      display: inline-block
    .subject
      line-height: 30px
      height: 30px
      padding-left: 15px
      font-size: 18px

  .left-header
  .right-header
    padding: 10px 15px

  .left-header
    overflow: hidden
    color: $gray-dark
    .subject
      line-height: 1.3
      border: none
      -o-text-overflow: ellipsis
      text-overflow: ellipsis
      white-space: nowrap
      &:focus
        background-color: #fff
    .show-compose
      display: inline-block
    .show-compose
      margin-left: 15px
      background: #2EB4EF
      color: #fff
      border-radius: 50%
      height: 34px
      width: 34px
      font-size: 18px
      cursor: pointer
      line-height: 35px
      text-align: center
      box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)

  .right-header
    float: right
    .right-header-item
      padding: 0 10px
      float: right
      &:first-of-type
        padding-right: 0
    p
      font-size: 16px
      float: left
      color: #666

    .latest-share
      margin: 2px 0

  &#header .share-pad-btn
  &#header .login-button
    font-size: 14px
    letter-spacing: 2px
    padding: 2px 8px
    display: inline-block
    margin-bottom: 0
    line-height: 25px
    color: #fff
    text-align: center
    cursor: pointer
    background-color: #28ace8
    border: 1px solid rgba(0,0,0,0)
    border-radius: 2px
    box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)

  &#header .share-pad-dropdown
    top: 38px
    left: initial
    right: 0
    font-size: 14px

  .redirect-to-knotable
    float: left
    text-decoration: none
    padding: 0 11px
    line-height: 32px
    font-size: 23px
    height: 33px

  &.padItem
    display: table
    .right-header
    .left-header
      display: table-cell
      width: 25%
      min-width: 335px
      overflow: initial
      .title
        font-size: 16px
        padding: 5px
        .subject
        .share-pad-btn
          padding-left: 10px
        .share-pad-btn
          text-decoration: underline
        .share-pad-dropdown
          top: 25px
          left: 10px
      .min-k-btn
        float: left
    .divider
      display: table-cell
      width: 100%
      &:after
        display: block
        content: ""
        height: 1px
        background: #e5e5e5

.share-pad
  display: inline-block
  position: relative
  .share-pad-btn
    cursor: pointer
  .share-pad-dropdown
    top: 50px
    left: 0

.share-pad-dropdown
#setting-dropdown
  display: none
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .5)
  position: absolute
  padding: 5px
  padding-right: 8px
  background: white
  cursor: pointer
  font-size: 14px
  li
    padding: 5px 0
    display: table
    white-space: nowrap
    .icon
      display: table-cell
      font-weight: 600
      text-align: center
      padding-right: 3px
    .icon-k
      font-size: 16px
    .text
      display: table-cell
      text-decoration: none
  li
  li a
    color: #555
    &:hover
      color: #28ace8

#setting-dropdown
  top: 55px
  right: 18px

.pad:not(.currentDatePad)
  .gutter
    display: none

.pad
  width: 100%
  .pad-container
    display: table
    table-layout: auto
    width: 100%
  .knote-list
    display: table-cell
    vertical-align: top
  .unarchived-knotes
  .archived-knotes
    position: relative
    margin-top: 45px
  .gutter
    display: table-cell
    width: 35%
  .message
    padding-top: 80px
    text-align: center
    font-size: 14px
    background-size: 50px !important
    color: $gray-dark
    position: absolute
    right: -200px
    bottom: 0
    width: 115px
    &.one
      background: url(/images/nonpluss.png) no-repeat center
    &.more-one
      background: url(/images/sleepy.png) no-repeat center
    &.more-two
      background: url(/images/wink.png) no-repeat center
    &.more-three
      background: url(/images/smile1.png) no-repeat center
    &.more-four
      background: url(/images/smile2.png) no-repeat center
    &.more-five
      background: url(/images/surprised.png) no-repeat center
    &.half
      background: url(/images/focus.png) no-repeat center
    &.one-more
      background: url(/images/headache.png) no-repeat center
    &.success
      background: url(/images/laugh.png) no-repeat center
    &.fail
      background: url(/images/sad.png) no-repeat center
  .order
    visibility: hidden
    position: absolute
    left: -100px
    font-size: 20px
    color: $gray-dark
  .knote-placeholder
    width: 580px
    margin: auto
    background-color: #fff
    @extend .round-corner-m
    min-height: 62px
  .knote:hover
  .compose:hover
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.4)
  .knote.animate
    transition:all 300ms 0ms ease-in
  .compose.compose-popup
    margin-bottom: 0
    padding-bottom: 40px
  .knote-list .knote
    padding-top: 20px
  .knote
  .compose
    width: 550px
    margin: 45px auto
    box-shadow: 0 1px 4px -1px rgba(0,0,0,.33)
    border-radius: 2px
    cursor: auto
    position: relative
    height: auto
    padding: 15px
    background: #fff
    textarea
      background-color: transparent

    &.sorting
      background: white

    .knote-header
      z-index: 1
      border-radius: 4px 4px 0 0
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 15px
      cursor: pointer
      &:hover
        background-color: #e9e9e9
      .action-edit.disabled:hover
        color: #b4b4b4
      .contact
        left: -17px
        position: absolute
        top: -17px
        text-align: center
        margin: 0
        z-index: 10
      .knote-header-right
        position: absolute
        right: 0px
        top: 0
        .knote-date
          display: none
          float: left
          padding-right: 7px
          span
            font-size: 10px
            line-height: 1.8
        .archive
        .restore
          float: left
          border-radius: 0 4px
          border-left: 1px solid #e9e9e9
          border-bottom: 1px solid #e9e9e9
          background-color: white
          display: block
          padding: 2px 5px
          color: $text-light
          font-size: 13px
          &:before
            vertical-align: top
            font-size: 20px
            margin: 1px
          &:hover
            background-color: $brand-primary
            color: white !important
          &.archived
            color: $text-dark
            border: none
          i
            padding-left: 2px
            &:before
              margin-right: 0

    .new-knote-title
    .new-knote-body
      padding-bottom: 5px

    .new-knote-title
      width: 100%
      color: $text-dark
      font-weight: 600
      border: none
      resize: none
      word-wrap: break-word
      font-size: 14px

    .new-knote-body
      display: none

    .knote-title
      font-size: 14px
      color: $text-dark
      line-height: 17px
      font-weight: 600
      cursor: text
      border: none
      padding: 0
      margin: 0
      width: 100%
      word-wrap: break-word
      resize: none

    .knote-body
      cursor: text
      line-height: 1.3
      word-wrap: break-word
      padding: 5px 0
      p
        margin: 0
    .post-btn-container
      height: 30px
      position: absolute
      right: 10px
      bottom: 10px
      .post-button
        float: right
        font-size: 14px
        letter-spacing: 2px
    .knote-content
      &:hover
        .knote-gutter
          .edit-knote
            display: block
      .knote-gutter
        width: 100%
        min-height: 15px
        line-height: 15px
        position: relative
        z-index: 10
        display: inline-block
        .edit-knote
          color: $gray
          cursor: pointer
          font-weight: 400
          display: none
          float: right
          margin-top: -17px
          position: relative
        .attachment form
          line-height: 25px
          height: 22px
        .contributors
          .contributor
            display: inline-block
            margin-left: 3px
        .attachment
          float: left
    .knote-actions
      height: 28px
      position: absolute
      bottom: 0
      left: 0
      z-index: 11
      margin-left: 55px
      &.no-replies
        margin-left: 12px
      &.archived-actions
        right: 10px
        left: initial
      .icon
        font-size: 18px
        color: #b4b4b4
        cursor: pointer
        &:hover
          color: #424242

    &.in-edit .pomodoro-container
      display: none
    .pomodoro-container
      position: absolute
      right: 0
      bottom: 0
      padding: 8px
      height: 20px
      .pomodoro
        background: url(/images/tomato.png) no-repeat center
        background-size: contain
        width: 20px
        height: 20px
        cursor: pointer
        float: right
      .pomodoro.animate
        background: url(/images/tomato-red.png) no-repeat center
        background-size: contain
      .pomodoro-time
        float: right
        padding: 5px
        .show
          display: block
        .hide
          display: none

    &.gray
      background-color: #f1f1f1
      .icon
        color: #b4b4b4

    .knote-reply-wrapper
      overflow: hidden
      width: 100%
      .knote-reply-actions
        width: 100%
        .see-replies
          width: 100%
          height: 20px
          line-height: 10px
        .btn
          background-color: $gray-lighter
          color: #696E73
      .knote-replys
        margin: 0
        li
          padding-bottom: 10px
          position: relative
          &:hover
            .btn-close
              display: block
          &.need-readmore .reply-body
            margin-bottom: 5px
            overflow: hidden
          &.need-readmore .readmore-tip
            display: block
          &.viewing .reply-body
            max-height: none !important
            opacity: 1
          &:last-of-type
            padding-bottom: 20px
          .readmore-tip
            display: none
            line-height: 12px
            padding-left: 39px
            margin-top: -10px
          .btn-close
            top: 0
            right: 0
            display: none
            font-size: 10px
            color: $gray-light
            background: none
            line-height: 9px
            width: initial
            &:hover
              color: $gray
          .fa-refresh
            top: 6px
            right: 6px
            font-size: 12px
            position: absolute
            color: #888
            display: none
          .viewing .reply-body
            max-height: none !important
        .is-new
          @extend .round-corner-m
          background: $gray-light
          background-clip: content-box
        .timestamp
          position: absolute
          top: 0
          visibility: hidden
          font-size: 10px
          line-height: 10px
        .contributors
          margin-right: -8px
          margin-bottom: 5px
        .reply-body
          padding-left: 40px
          padding-top: 10px
          box-sizing: content-box
          word-wrap: break-word
        .account-avatar
          position: absolute
          font-size: 18px
          line-height: 25px
          width: 25px
          height: 25px
          box-shadow: none
          cursor: initial
        .username
          position: absolute
          left: 40px
          line-height: 9px
          display: block
          font-size: 10px

    & .knote-compose-popup-cn
        display: none
        width: 100%
        .contenteditable-wrapper
          padding-bottom: 5px

    &.posting
    &.failed
      .knote-header
        .archive
          display: none
    &.failed
      .knote-posting-status
        color: orange
        span
          display: inline-block
          text-align: left
          vertical-align: middle

  .archived-knotes
    .order
      text-decoration: line-through
    .knote
      .knote-header
        &:hover
          background-color: initial
          cursor: initial
        .knote-header-right
          cursor: initial
          .restore
            cursor: pointer

.pad.currentDatePad
  .order
    visibility: visible
    transition: opacity 0.5s linear
    opacity: 1
  .sorting
    .order
      visibility: hidden
      opacity: 0
