html
  -webkit-font-smoothing: antialiased

.pomodoro-container
  position: absolute
  right: 0
  bottom: 0
  padding: 8px 6px
  height: 13px

  .pomodoro
    background: url(/images/tomato.png) no-repeat center
    background-size: contain
    width: 15px
    height: 15px
    cursor: pointer
    float: right

  .pomodoro.animate
    background: url(/images/tomato-red.png) no-repeat center
    background-size: contain

  .pomodoro-time
    float: right
    padding: 0 5px
    .show
      display: block
    .hide
      display: none

#container
  width: 100%
  height: 100%
  overflow: hidden

.padList
  top: 50px
  position: relative
  overflow-y: auto
  overflow-x: hidden
  height: calc(100% - 50px)

  .min-k-btn
    display: inline-block
    padding: 0
    margin-right: 5px
    font-size: 16px
    text-decoration: none
    height: 26px
    width: 24px
    line-height: 26px


.header
  width: 100%
  position: relative
  z-index: 100

  &#header
    padding: 10px 0
    position: fixed
    top: 0px
    &.scrolling
      background-color: white
      box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.45)
    .subject
      line-height: 30px
      height: 30px
      padding-left: 10px

  .left-header
    margin-left: 20px
    .title
    .show-compose
      float: left
    & .show-compose
      margin-left: 15px
      background: #2EB4EF
      color: #fff
      border-radius: 50%
      height: 30px
      width: 30px
      font-size: 15px
      cursor: pointer
      line-height: 30px
      text-align: center
      box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)


  &.padItem
    display: table
    .subject
      display: table-cell
      font-size: 14px
    .share-pad
      display: inline-block
      margin-left: 10px
      .share-pad-btn
        text-decoration: underline
        cursor: pointer
    .divider
      display: table-cell
      width: 100%
      &:after
        display: block;
        content: "";
        height: 1px;
        background: #e5e5e5;
        margin: 0 200px 5px 40px

  &#header .share-pad
    float: left

  &#header .share-pad-btn
  .redirect-to-knotable
  .subject
    font-size: 16px
    padding-left: 20px

  &#header .share-pad-btn
    font-size: 14px
    height: 24px
    padding: 2px 8px
    display: inline-block
    margin-bottom: 0
    line-height: 23px
    color: #fff
    text-align: center
    cursor: pointer
    background-color: #28ace8
    border: 1px solid rgba(0,0,0,0)
    border-radius: 2px
    box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)

  &#header .share-pad-dropdown
    top: 35px
    left: 0px
    li
      white-space: nowrap

  .redirect-to-knotable
    float: left
    text-decoration: none
    padding: 2px 9px
    line-height: 24px

  .subject
    line-height: 1.3
    color: #666
    border: none
    -o-text-overflow: ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    &:focus
      background-color: #fff

  .user
  .login-button
    z-index: 1
    font-style: normal
    font-size: 14px
    position: absolute
    top: 8px
    right: 20px
    p
      font-size: 16px
      float: left
      color: #666
    button
      float: left
      margin: 10px 0 10px 10px
      font-size: 16px
      padding: 2px 7px 2px 9px
      letter-spacing: 2px
      line-height: 24px
    .logout
      padding: 2px 1px 2px 5px

  .login-button
    top: 10px

.pad
  width: 100%
  .knote-placeholder
    width: 580px
    margin: auto
    background-color: #fff
    @extend .round-corner-m
  .knote:hover
  .compose:hover
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.4)
  .knote.animate
    transition:all 300ms 0ms ease-in
  .knote
  .compose
    width: 550px
    margin: 45px auto
    box-shadow: 0 1px 4px -1px rgba(0,0,0,.33)
    border-radius: 2px
    cursor: auto
    position: relative
    height: auto
    padding: 15px
    background: #fff
    textarea
      background-color: transparent

    &.sorting
      background: white

    .knote-header
      z-index: 1
      border-radius: 4px 4px 0 0
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 15px
      cursor: pointer
      &:hover
        background-color: #e9e9e9
      .action-edit.disabled:hover
        color: #b4b4b4
      .contact
        left: -17px
        position: absolute
        top: -17px
        text-align: center
        margin: 0
        z-index: 10
      .knote-header-right
        position: absolute
        right: 0px
        top: 0
        .knote-date
          float: left
          padding-right: 7px
          span
            font-size: 10px
            line-height: 1.8
        .archive
        .restore
          float: left
          width: 18px
          height: 18px
          border-radius: 0 4px 0 50%
          border-left: 1px solid #e9e9e9
          border-bottom: 1px solid #e9e9e9
          background-color: white
          color: $gray
          display: block
          &:before
            vertical-align: top
            font-size: 15px
            margin: 1px
          &:hover
            background-color: $brand-primary
            color: white !important
          &.archived
            color: $text-dark
            border: none
    .new-knote-title
      padding: 0
      width: 100%
      font-weight: 700
      border: none
      resize: none
      word-wrap: break-word
      font-size: 12px

    .knote-title
      font-size: 12px
      color: #424242
      line-height: 17px
      font-weight: 700
      cursor: text
      border: none
      padding: 0
      margin: 0
      width: 100%
      word-wrap: break-word
      resize: none

    .new-knote-body
      display: none
    .knote-body
      cursor: text
      line-height: 1.3
      padding: 5px 0
      word-wrap: break-word
      p
        margin: 0
    .post-btn-container
      width: 100%
      height: 30px
      .post-button
        float: right
    .knote-content
      &:hover
        .knote-gutter
          .edit-knote
            display: block
      .knote-gutter
        width: 100%
        min-height: 15px
        line-height: 15px
        position: relative
        z-index: 100
        .edit-knote
          color: $gray
          cursor: pointer
          font-weight: 400
          display: none
          float: right
          margin-top: -17px
          position: relative
        .attachment form
          line-height: 25px
        .contributors
          .contributor
            display: inline-block
            margin-left: 3px
    .knote-actions
      height: 30px
      position: absolute
      bottom: 0
      left: 0
      z-index: 100
      margin-left: 55px
      &.no-replies
        margin-left: 15px
      .icon
        font-size: 18px
        color: #b4b4b4
        cursor: pointer
        &:hover
          color: #424242

    &.gray
      background-color: #f1f1f1
      .icon
        color: #b4b4b4

    .knote-reply-wrapper
      overflow: hidden
      width: 100%
      .knote-reply-actions
        width: 100%
        .see-replies
          width: 100%
          height: 20px
          line-height: 10px
        .btn
          background-color: $gray-lighter
          color: #696E73
      .knote-replys
        margin: 0
        li
          padding-bottom: 10px
          position: relative
          &:hover
            .btn-close
              display: block
          &.need-readmore .reply-body
            margin-bottom: 5px
            overflow: hidden
          &.need-readmore .readmore-tip
            display: block
          &.viewing .reply-body
            max-height: none !important
            opacity: 1
          &:last-of-type
            padding-bottom: 20px
          .account-avatar
            cursor: initial
          .readmore-tip
            display: none
            line-height: 12px
            padding-left: 39px
            margin-top: -10px
          .btn-close
            top: 0
            right: 0
            display: none
            font-size: 10px
            color: $gray-light
            background: none
            line-height: 9px
            width: initial
            &:hover
              color: $gray
          .fa-refresh
            top: 6px
            right: 6px
            font-size: 12px
            position: absolute
            color: #888
            display: none
          .viewing .reply-body
            max-height: none !important
        .is-new
          background: $gray-light
          background-clip: content-box
          @extend .round-corner-m
        .timestamp
          position: absolute
          top: 0
          visibility: hidden
          font-size: 10px
          line-height: 10px
        .contributors
          margin-right: -8px
          margin-bottom: 5px
        .reply-body
          padding-left: 40px
          padding-top: 10px
          box-sizing: content-box
          word-wrap: break-word
        .account-avatar
          position: absolute
          font-size: 18px
          line-height: 28px
          width: 28px
          height: 28px
          box-shadow: none
        .username
          position: absolute
          left: 40px
          line-height: 9px
          display: block
          font-size: 10px
        .account-avatar.small
          width: 20px
          height: 20px

    & .knote-compose-popup-cn
        display: none
        width: 100%
        .contenteditable-wrapper
          padding-bottom: 5px

    &.posting
    &.failed
      .knote-header
        .archive
          display: none
    &.failed
      .knote-posting-status
        color: orange
        span
          display: inline-block
          text-align: left
          vertical-align: middle

  .archived-knotes
    .knote
      .knote-header
        &:hover
          background-color: initial
          cursor: initial
        .knote-header-right
          cursor: initial
          .restore
            cursor: pointer

.pull-right
  float: right

:focus
  outline: none

[contenteditable][placeholder]:empty:before
  content: attr(placeholder)
  color: #ccc
  cursor: text

.btn
  display: inline-block
  padding: 4px 12px
  margin-bottom: 0
  font-size: 12px
  line-height: 20px
  color: #fff
  text-align: center
  vertical-align: middle
  cursor: pointer
  background-color: #28ACE8
  border: 1px solid rgba(0,0,0,0)
  border-radius: 2px
  box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4);
  -webkit-appearance: none
  -moz-appearance: none
  &:disabled
    background: #ddd

.my-btn
  color: $white
  background: #28ACE8
  &:disabled
  &:disabled:hover
  &[disabled]
  &:hover[disabled]
    cursor: default
    opacity: 0.6
    background: #28ACE8

.btn-small
  padding: 0px 8px

.btn-cancel, .reply-cancel
  background: $gray-blue
  &:hover
    background: $gray-blue-dark

.clearfix:after
  clear: both

.clearfix:before
.clearfix:after
  display: table
  line-height: 0
  content: ""

.account-avatar
  color: rgba(255,255,255,0.8)
  font-size: 22px
  font-weight: bold
  line-height: 32px
  text-align: center
  -webkit-border-radius: 50%
  border-radius: 50%
  width: 34px
  height: 34px
  display: inline-block
  vertical-align: top
  cursor: pointer
  max-width: none
  box-shadow: 0 1px 1px #999

.bgcolor1
  background: #ebe18c

.bgcolor2
  background: #dc3f1c

.bgcolor3
  background: #448d7a

.bgcolor4
  background: #d8a027

.bgcolor5
  background: #88a764

.participators
  display: inline-block
  float: right
  .add-contact
    background: #28ACE8
    font-size: 11px
    color: #fff
  .participator
    display: inline

.addContactPopup
  display: none

.popup
  background-color: #fff
  padding: 20px
  position: relative
  text-align: center
  max-width: 98%


.popup-container
  left: 50%
  top: 40px
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  transform: translateX(-50%)
  min-width: 300px
  width: 46%

.add-new-users-container
  font-size: 14px
  margin-top: 10px
  text-align: left
  div
    display: table-cell
    padding: 5px 0 0
    vertical-align: top
    width: 100%

.add-new-users-container .btn
  margin-left: 5px

.add-new-users-container input[type="text"]
  color: #28ace8
  width: 100%


textarea
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
  padding: 4px 6px
  margin-bottom: 10px
  font-size: 14px
  color: #616161
  vertical-align: middle
  -webkit-border-radius: 4px
  border-radius: 4px
  border: solid 1px #eee


a.btn-close
  position: absolute
  top: 8px
  right: 8px
  background: url("/images/sprite_3.png") no-repeat -150px -251px
  width: 12px
  height: 12px
  text-decoration: none
  opacity: 1 !important
  -ms-filter: none
  filter: none
  cursor: pointer

.share-pad
  display: inline
  position: relative
  margin-left: 10px

  .share-pad-dropdown
    top: 25px
    left: 0

.share-pad-dropdown
#setting-dropdown
  display: none
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .5)
  position: absolute
  padding: 4px
  background: white
  cursor: pointer
  font-size: 12px
  width: 120px
  li
    padding: 4px
    a
      display: block
      text-decoration: none
    .icon-k
      float: left
      font-size: 15px
      line-height: 3px
      padding: 4px
      font-weight: 600
  li
  li a
    color: #555
    &:hover
      color: #28ace8

#setting-dropdown
  top: 45px
  right: 25px

#share-pad-popup
  background: white
  padding: 20px
  border-radius: 2px
  width: 500px
  .popup-title
    margin-bottom: 10px
    font-size: 14px
  .popup-content
    position: relative
    .icon-docs
      position: absolute
      top: 6px
      right: 5px
      cursor: pointer
      color: #555
      &.zeroclipboard-is-hover
        color: #000
  .share-message, .shared-url
    width: 486px
    font-size: 12px
  .shared-url
    margin-bottom: 5px
  .share-description
    color: $gray
    margin-top: 0
  .share-message
    height: 90px
  .copied
    position: absolute
    top: 0
    left: 6px

#shareEmails
  background: white
  padding: 2px 4px
  border-radius: 5px
  margin-bottom: 5px
  min-height: 26px
  font-size: 12px
  cursor: text
  color: $text-dark
  word-break: break-all
  border: 1px solid #EEE
  .contact-item
    padding: 2px 4px
    font-size: 12px
    margin: 2px 0
    display: inline-block
    line-height: 20px
    cursor: pointer
  .fa-times
    cursor: pointer
  .account-avatar
    box-shadow: none
    border-radius: 50%
  .newEmail
    padding: 0 4px
    border: none
    margin: 2px 0
    min-width: 250px
    vertical-align: middle !important
    line-height: 20px
  .placeholder
    color: #aeaeae


#sys-message-popup
  display: none
  position: fixed
  top: 60px
  right: 20px
  min-width: 120px
  font-size: 12px
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 50%)
  background: white
  padding: 0 10px
  z-index: 10000
  &.success
    border-left: 3px solid green
    .icon
      color: green
  &.warning
    border-left: 3px solid red
    .icon
      color: red
  .ok-btn
    font-size: 10px
    padding: 0 6px
    margin-bottom: 12px

#show-image-popup
  width: 60%
  height: 75%
  .img-container
    height: 100%
    width: 100%
    text-align: center
    vertical-align: middle
    img
      max-height: 100%
      max-width: 100%


.attachment
  float: right
  input[name=file]
    width: 0
  form
    margin: 0;
    margin-right: 6px;
    width: 24px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #555;

.knote .attachment
  float: left

// copy
span.img-wrapper
  position: relative
  display: inline-block
  overflow: visible
  & .btn-close
    top: -8px
    right: -8px
    display: none

div[contenteditable=true] span.img-wrapper .btn-close
  display: block
  opacity: .5
  z-index: 1

div[contenteditable=true] span.img-wrapper:hover .btn-close
  opacity: 1

.thumbnail-wrapper .embed
  padding: 0

.viewing .thumbnail-wrapper
  border-color: transparent

.thumb.img-wrapper
  position: relative

.delete_file_ico
  position: absolute
  left: 0
  top: 0
  margin: 10px
  cursor: pointer
  width: 12px
  height: 12px
  background: url("/images/sprite_3.png") -150px -251px no-repeat
  z-index: 10

.message .thumbnail-wrapper .delete_file_ico
.key-note .thumbnail-wrapper .delete_file_ico
.message .viewing .need-readmoresmall .thumbnail-wrapper .delete_file_ico
.message .viewing .need-readmore-large .thumbnail-wrapper .delete_file_ico
  display: none

.message.in-edit .thumbnail-wrapper .delete_file_ico
.key-note.in-edit .thumbnail-wrapper .delete_file_ico
  display: block !important

.thumbnail1
  width: 504px
  height: 378px
  max-width: 98%

.thumbnail2
  width: 251px
  height: 188px
  max-width: 48%

.knote-compose-popup .file-list
  margin-bottom: 0
  position: relative

.transparent
  opacity: 0

.upload-progress
  width: 100%
  height: 12px
  position: relative
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.57) inset
  min-width: 80px
  margin:0 auto
  .bar
    width: 0%
    height: 100%
    background: $brand-primary
    position: absolute
    transition: width .2s, background .4s


.thumbnail-wrapper
  .file
    border: 1px solid $gray-lighter !important
    &:hover
      border: 1px solid $gray-light !important
    .file-name
      display: block
      overflow: hidden
      text-overflow: ellipsis
      margin-top: 92px
      white-space: nowrap
      color: $gray

  .thumb + .file
    display: none

  &.loading-thumb
  &.process-thumb
    .img-wrapper
      padding: 4px
      background: #eee
      .thumb
        min-height: 92px
  &.process-thumb .bar
    animation: color-toggle-success .6s infinite alternate
  &.loading-error .bar
    background: $brand-error


.file > a
.thumb .file
  display: inline-block
  text-decoration: none
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% auto
  background-image: url("cdn_url_variable/images/file_type_icon/txt.png")
  width: 95px
  height: 95px


.file .delete_file_ico
  display: none
  right: 5px

.file:hover .delete_file_ico
  display: block

.file a img
  max-width: 100%
  max-height: 100%

.file .thumbnail-wrapper
  width: 82px
  height: 82px
  position: relative

.file.image>a
.file.gif>a
.file.jpg>a
.file.png>a
.thumb.image
.thumb.gif
.thumb.jpg
.thumb.png
  background-image: none

.file.doc>a
.file.docx>a
.thumb.doc
.thumb.docx
.thumb a.file[href$=".docx"]
.thumb a.file[href$=".doc"]
  background-image: url("cdn_url_variable/images/file_type_icon/word.png")

.file.avi>a
.file.mpeg>a
.thumb.avi
.thumb.mpeg
.thumb a.file[href$=".avi"]
.thumb a.file[href$=".mpeg"]
  background-image: url("cdn_url_variable/images/file_type_icon/video.png")

.file.xls>a
.file.xlsx>a
.thumb.xls
.thumb.xlsx
.thumb a.file[href$=".xls"]
.thumb a.file[href$=".xlsx"]
  background-image: url("cdn_url_variable/images/file_type_icon/excel.png")

.file.pdf>a
.thumb.pdf
.thumb a.file[href$=".pdf"]
  background-image: url("cdn_url_variable/images/file_type_icon/acrobat.png")

.file.ai>a
.thumb.ai
.thumb a.file[href$=".ai"]
  background-image: url("cdn_url_variable/images/file_type_icon/illustrator.png")

.file.html>a
.thumb.html
.thumb a.file[href$=".html"]
  background-image: url("cdn_url_variable/images/file_type_icon/html.png")

.file.css>a
.thumb.css
.thumb a.file[href$=".css"]
  background-image: url("cdn_url_variable/images/file_type_icon/css.png")

.file.php>a
.thumb.php
.thumb a.file[href$=".php"]
  background-image: url("cdn_url_variable/images/file_type_icon/php.png")

.file.mp3>a
.thumb.mp3
.thumb a.file[href$=".mp3"]
  background-image: url("cdn_url_variable/images/file_type_icon/music.png")

.file.js>a
.thumb.js
.thumb a.file[href$=".js"]
  background-image: url("cdn_url_variable/images/file_type_icon/js.png")

.file.rar>a
.thumb.rar
.file.zip>a
.thumb.zip
.thumb a.file[href$=".zip"]
.thumb a.file[href$=".rar"]
  background-image: url("cdn_url_variable/images/file_type_icon/archive.png")

.file.ses>a
.thumb.ses
.thumb a.file[href$=".ses"]
  background-image: url("cdn_url_variable/images/file_type_icon/audition.png")

.file.mxp>a
.thumb.mxp
.thumb a.file[href$=".mxp"]
  background-image: url("cdn_url_variable/images/file_type_icon/dreamweaver.png")

.file.swf>a
.thumb.swf
.thumb a.file[href$=".swf"]
  background-image: url("cdn_url_variable/images/file_type_icon/flash.png")

.file.indd>a
.thumb.indd
.thumb a.file[href$=".indd"]
  background-image: url("cdn_url_variable/images/file_type_icon/indesign.png")

.file.otf>a
.thumb.otf
.thumb a.file[href$=".otf"]
  background-image: url("cdn_url_variable/images/file_type_icon/otf.png")

.file.psd>a
.thumb.psd
.thumb a.file[href$=".psd"]
  background-image: url("cdn_url_variable/images/file_type_icon/photoshop.png")

.file.ppt>a
.thumb.ppt
.file.pptx>a
.thumb.pptx
.thumb a.file[href$=".ppt"]
.thumb a.file[href$=".pptx"]
  background-image: url("cdn_url_variable/images/file_type_icon/powerpoint.png")

.file.torrent>a
.thumb.torrent
.thumb a.file[href$=".torrent"]
  background-image: url("cdn_url_variable/images/file_type_icon/torrent.png")

.file.ttf>a
.thumb.ttf
.thumb a.file[href$=".ttf"]
  background-image: url("cdn_url_variable/images/file_type_icon/ttf.png")

.file.wav>a
.thumb.wav
.thumb a.file[href$=".wav"]
  background-image: url("cdn_url_variable/images/file_type_icon/wav.png")

.file
  height: 94px
  padding: 5px

.file-box
  display: inline-block
  height: 117px
  margin: 0 8px 16px 0
  width: 94px
  text-align: center
  white-space: nowrap
  vertical-align: top

.file-box .file
.thumb-box .thumb
  margin-bottom: 3px

.file-box .file
  position: relative

.loading-status
  animation: flash 1s infinite


.thumb-box .thumb .delete_file_ico
  top: 0
  right: 0
  margin-left: 0
  margin-top: 0
  display: none

.file-name
  text-align: center

#saving_file_box
  display: none

#saving_file_box.show
  display: inline-block

#saving_file_box img
  width: 94px
  height: 94px

.profile-icon
  background: url("cdn_url_variable/images/profile.png") no-repeat right center
  height: 12px
  width: 12px
  background-size: 12px
  display: inline-block
  margin: 1px 0 0 0 !important

.knote-content.images-hidden .compose-area .thumbnail-wrapper
#compose-popup .images-hidden .thumbnail-wrapper
  display: none

.compose-area .uploading-thumb span.img-wrapper .delete_file_ico
  display: none

.uploading-thumb span.img-wrapper .btn-close
  display: block
  right: 0
  top: 0
  position: absolute

.embed
  margin: 10px 0

.embed a
  border: none
  margin-right: 5px

.embed > a
  float: left

.embed a:hover
  border: none
  text-decoration: underline

.embed img
  display: inline-block !important

.embed .origin-link
.embed .origin-link a
  word-wrap: break-word
  word-break: break-all

.embed.link
  .embedded-link
    width: auto
  .origin-link
    display: inline

.embed.link.has-photo
.embed.photo.has-photo
  .embedded-link
  .embedded-link:hover
    border: none
    overflow: hidden
    width: 100%
    .detail
      line-height: 2
      .embedded-title
        font-size: 13px
  .origin-link
    display: block

.embed.link
.embed.photo
  .img-wrapper
    float: left
    margin: 2px 10px 2px 2px
    max-height: 100px !important
    max-width: 100px !important
    box-shadow: 0 0 2px
    border-radius: 5px
    overflow: hidden
    img
      object-fit: contain
    .embedded-favicon
      width: 50px !important
      height: 50px !important
    &.longer-width img
      height: 100px
    &.longer-height img
      width: 100px

.embed.video
  .origin-link
    text-align: center

.knote-content p.embed-original-link
  margin-top: 5px

.embed-original-link a
  background-color: #e6e6e6
  padding: 3px

// highlights
div.highlight-warp
  padding-bottom: 0

ul.highlight-words li
  font-style: normal
  font-weight: normal

ul.highlight-words li
.highlight
  background: #FAFA7E

.sel-arrow-down:after
.sel-arrow-over:before
  content: ""
  display: block
  position: absolute
  left: 50%
  margin-left: -8px
  width: 0
  height: 0
  border-style: solid

.sel-arrow-down:after
  border-width: 8px 8px 0 8px
  border-color: $gray-light transparent transparent transparent

.sel-arrow-over:before
  top: -8px
  border-width: 0 8px 8px 8px
  border-color: transparent transparent $gray-light transparent

#sel-text-menu
  @extend .shadow-dropdown
  @extend .round-corner-sm
  position: absolute
  z-index: 110
  display: none
  background: $gray-light
  ul
    margin: 0
  li
    float: left
    button
      padding: 10px 15px
      color: black
      border: none
      background-color: transparent
      cursor: pointer
      span.highlight
        color: #293038
        padding: 0 5px
    button:hover
      background-color: rgba(40, 172, 232, 0.5)
      color: white

.bootstrap-growl
  right: 15px !important
  top: 60px !important
  background-color: $brand-primary
  color: white
  font-size: 12px
  border: 1px solid #fff
  border-radius: 3px
  padding: 5px 20px
  width: 155px
  opacity: 1
  .close
    color: white
    opacity: 0.7

.bootstrap-growl.alert-error
  border: 1px solid #ebccd1
  background-color: $red
  color: white

.bootstrap-growl.alert-success
  border: 1px solid #8ac472
  background-color: $green-pastel
  color: white

.account-avatar
  width: 30px
  height: 30px
  display: inline-block
  box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)
  vertical-align: top
  cursor: pointer
  max-width: none

.account-avatar.small
  width: 20px
  height: 20px

.account-avatar.medium
  width: 24px
  height: 24px

span.account-avatar img
  vertical-align: top

span.account-avatar
  color: rgba(255,255,255,0.6)
  font-size: 18px
  font-weight: 400px
  line-height: 29px
  text-align: center

span.account-avatar.small
  font-size: 11px
  line-height: 20px

span.account-avatar.medium
  font-size: 14px
  line-height: 24px

span.account-avatar.large
  font-size: 24px
  line-height: 34px

span.account-avatar.larger
  font-size: 120px
  line-height: 180px
  font-weight: 400px
  width: 200px
  height: 200px

.account-avatar.unactivated
  border: 1px solid #555
