#container
  width: 100%
  height: 100%
  overflow: hidden

.padList
  top: 60px
  position: relative
  overflow-y: auto
  overflow-x: hidden
  height: calc(100% - 60px)

  .min-k-btn
    display: inline-block
    padding: 0
    margin-right: 5px
    font-size: 16px
    text-decoration: none
    font-weight: bold
    height: 26px
    width: 26px
    line-height: 26px


.header
  width: 100%
  position: relative
  z-index: 100

  &#header
    padding: 10px 0
    position: fixed
    top: 0px
    &.scrolling
      background-color: white
      box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.45)
    .subject
      line-height: 30px
      height: 30px
      padding-left: 10px

  .left-header
    margin-left: 20px
    .title
    .show-compose
      float: left
    & .show-compose
      margin-left: 15px
      background: #2EB4EF
      color: #fff
      border-radius: 50%
      height: 30px
      width: 30px
      font-size: 15px
      cursor: pointer
      line-height: 30px
      text-align: center


  &.padItem
    display: table
    .subject
      display: table-cell
    .divider
      display: table-cell
      width: 100%
      &:after
        display: block;
        content: "";
        height: 1px;
        background: #e5e5e5;
        margin: 0 200px 5px 40px;

  &#header .share-part
    float: left

  &#header .share-pad-btn
  .redirect-to-knotable
  .subject
    font-size: 16px
    padding-left: 20px

  &#header .share-pad-btn
    font-size: 14px !important
    height: 30px
    padding: 2px 8px

  &#header .share-pad-dropdown
    top: 35px
    left: 0px
    li
      white-space: nowrap

  .redirect-to-knotable
    float: left
    text-decoration: none
    padding: 2px 9px
    line-height: 24px

  .subject
    line-height: 1.3
    color: #666
    border: none
    -o-text-overflow: ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    &:focus
      background-color: #fff

  .user
  .login-button
    z-index: 1
    font-style: normal
    font-size: 14px
    position: absolute
    top: 8px
    right: 20px
    p
      font-size: 16px
      float: left
      color: #666
    button
      float: left
      margin: 10px 0 10px 10px
      font-size: 16px
      padding: 2px 7px 2px 9px
      letter-spacing: 2px
      line-height: 24px
    .logout
      padding: 2px 1px 2px 5px

  .login-button
    top: 10px

.pad
  width: 100%
  .compose
    min-height: 70px
  .knote:hover
  .compose:hover
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.4)
  .knote.animate
    transition:all 300ms 0ms ease-in
  .knote
  .compose
    width: 550px
    margin: 45px auto
    box-shadow: 0 1px 4px -1px rgba(0,0,0,.33)
    border-radius: 2px
    cursor: auto
    position: relative
    height: auto
    padding: 15px
    background: #fff
    textarea
      background-color: transparent

    .new-knote-title
      padding: 0
      width: 100%
      font-weight: 700
      border: none
      resize: none
      word-wrap: break-word
      font-size: 12px

    .knote-title
      font-size: 12px
      color: #000
      line-height: 17px
      font-weight: 700
      cursor: text
      border: none
      padding: 0
      margin: 0
      width: 100%
      word-wrap: break-word
      resize: none

    .knote-date
      font-size: 12px
      display: none
    .new-knote-body
    .knote-body
      cursor: text
      line-height: 1.3
      padding: 5px 0
      word-wrap: break-word
      p
        margin: 0
    .post-btn-container
      width: 100%
      height: 30px
      .post-button
        float: right
    .knote-actions
      height: 20px
      position: relative
      margin-top: 5px
      .icon
        font-size: 18px
        color: #b4b4b4
        cursor: pointer
        &:hover
          color: #424242
    &.gray
      background-color: #f1f1f1
      .icon
        color: #b4b4b4

.pull-right
  float: right

:focus
  outline: none

[contenteditable][placeholder]:empty:before
  content: attr(placeholder)
  color: #ccc
  cursor: text

.btn
  display: inline-block
  padding: 4px 12px
  margin-bottom: 0
  font-size: 12px
  line-height: 20px
  color: #fff
  text-align: center
  vertical-align: middle
  cursor: pointer
  background-color: #28ACE8
  border: 1px solid rgba(0,0,0,0)
  border-radius: 2px
  -webkit-appearance: none
  -moz-appearance: none
  &:disabled
    background: #ddd

.my-btn
  color: $white
  background: #28ACE8
  &:disabled
  &:disabled:hover
  &[disabled]
  &:hover[disabled]
    cursor: default
    opacity: 0.6
    background: #28ACE8

.btn-small
  padding: 2px 10px

.btn-cancel
  background: #737a82

.clearfix:after
  clear: both

.clearfix:before
.clearfix:after
  display: table
  line-height: 0
  content: ""

.account-avatar
  color: rgba(255,255,255,0.8)
  font-size: 22px
  font-weight: bold
  line-height: 32px
  text-align: center
  -webkit-border-radius: 50%
  border-radius: 50%
  width: 34px
  height: 34px
  display: inline-block
  vertical-align: top
  cursor: pointer
  max-width: none
  box-shadow: 0 1px 1px #999

  &:hover
    -webkit-box-shadow: 0 0 2px 2px #78c5e8
    box-shadow: 0 0 2px 2px #78c5e8

.contact
  left: -17px
  position: absolute
  top: -17px
  text-align: center
  margin: 0


.bgcolor1
  background: #ebe18c

.bgcolor2
  background: #dc3f1c

.bgcolor3
  background: #448d7a

.bgcolor4
  background: #d8a027

.bgcolor5
  background: #88a764

.participators
  display: inline-block
  float: right
  .add-contact
    background: #28ACE8
    font-size: 11px
    color: #fff
  .participator
    display: inline

.addContactPopup
  display: none

.popup
  background-color: #fff
  padding: 20px
  position: relative
  text-align: center
  max-width: 98%


.popup-container
  left: 50%
  top: 40px
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  transform: translateX(-50%)
  min-width: 300px
  width: 46%

.add-new-users-container
  font-size: 14px
  margin-top: 10px
  text-align: left
  div
    display: table-cell
    padding: 5px 0 0
    vertical-align: top
    width: 100%

.add-new-users-container .btn
  margin-left: 5px

.add-new-users-container input[type="text"]
  color: #28ace8
  width: 100%


textarea
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
  padding: 4px 6px
  margin-bottom: 10px
  font-size: 14px
  color: #616161
  vertical-align: middle
  -webkit-border-radius: 4px
  border-radius: 4px
  border: solid 1px #eee


a.btn-close
  position: absolute
  top: 8px
  right: 8px
  background: url("/images/sprite_3.png") no-repeat -150px -251px
  width: 12px
  height: 12px
  text-decoration: none
  opacity: 1 !important
  -ms-filter: none
  filter: none
  cursor: pointer

.share-part
  display: inline
  position: relative
  margin-left: 10px

  .share-pad-btn
    padding: 2px 8px

  .share-pad-dropdown
    top: 30px
    left: 0

.share-pad-dropdown
#setting-dropdown
  display: none
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .5)
  position: absolute
  padding: 4px
  background: white
  cursor: pointer
  font-size: 12px

  li
    padding: 4px

  li a
    display: block
    text-decoration: none

  li
  li a
    color: #555
    &:hover
      color: #28ace8

#setting-dropdown
  top: 50px
  right: 20px

#share-pad-popup
  background: white
  padding: 25px
  border-radius: 2px
  width: 500px
  .popup-title
    margin-bottom: 10px
    font-size: 14px
  .share-to, .share-message, .shared-url
    width: 486px
    font-size: 12px
  .share-message
    height: 90px
  .btn-cancel-share
    color: #999
    font-size: 12px
    margin-left: 10px
    text-decoration: none

#sys-message-popup
  display: none
  position: fixed
  top: 60px
  right: 20px
  min-width: 120px
  font-size: 12px
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 50%)
  background: white
  padding: 0 10px
  z-index: 101
  &.success
    border-left: 3px solid green
    .icon
      color: green
  &.warning
    border-left: 3px solid red
    .icon
      color: red
  .ok-btn
    font-size: 10px
    padding: 0 6px
    margin-bottom: 12px

#show-image-popup
  width: 60%
  height: 75%
  .img-container
    height: 100%
    width: 100%
    text-align: center
    vertical-align: middle
    img
      max-height: 100%
      max-width: 100%


// copy
span.img-wrapper
  position: relative
  display: inline-block
  overflow: visible
  & .btn-close
    top: -8px
    right: -8px
    display: none

div[contenteditable=true] span.img-wrapper .btn-close
  display: block
  opacity: .5
  z-index: 1

div[contenteditable=true] span.img-wrapper:hover .btn-close
  opacity: 1

.file-list .thumb.thumb-loading
.file.thumb-loading
  background: url("cdn_url_variable/images/loading.gif") no-repeat center center

.thumbnail-wrapper .embed
  padding: 0

.viewing .thumbnail-wrapper
  border-color: transparent

.delete_file_ico
  position: absolute
  right: 0
  top: 0
  margin: 10px
  cursor: pointer
  width: 12px
  height: 12px
  background: url("cdn_url_variable/images/sprite_3.png") -150px -251px no-repeat
  z-index: 10

.message .thumbnail-wrapper .delete_file_ico
.key-note .thumbnail-wrapper .delete_file_ico
.message .viewing .need-readmoresmall .thumbnail-wrapper .delete_file_ico
.message .viewing .need-readmore-large .thumbnail-wrapper .delete_file_ico
  display: none

.message.in-edit .thumbnail-wrapper .delete_file_ico
.key-note.in-edit .thumbnail-wrapper .delete_file_ico
  display: block !important

.thumbnail1
  width: 504px
  height: 378px
  max-width: 98%

.thumbnail2
  width: 251px
  height: 188px
  max-width: 48%

.knote-compose-popup .file-list
  margin-bottom: 0
  position: relative

.transparent
  opacity: 0


.file > a
.thumb .file
  display: inline-block
  text-decoration: none
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% auto
  background-image: url("cdn_url_variable/images/file_type_icon/txt.png")
  width: 95px
  height: 95px

.thumbnail-wrapper .file
  border: 1px solid $gray-lighter !important
  &:hover
    border: 1px solid $gray-light !important
  & .file-name
    display: block
    overflow: hidden
    text-overflow: ellipsis
    margin-top: 92px
    white-space: nowrap
    color: $gray

.thumbnail-wrapper .thumb + .file
  display: none

.file .delete_file_ico
  display: none
  right: 5px

.file:hover .delete_file_ico
  display: block

.file a img
  max-width: 100%
  max-height: 100%

.file .thumbnail-wrapper
  width: 82px
  height: 82px
  position: relative

.file.image>a
.file.gif>a
.file.jpg>a
.file.png>a
.thumb.image
.thumb.gif
.thumb.jpg
.thumb.png
  background-image: none

.file.doc>a
.file.docx>a
.thumb.doc
.thumb.docx
.thumb a.file[href$=".docx"]
.thumb a.file[href$=".doc"]
  background-image: url("cdn_url_variable/images/file_type_icon/word.png")

.file.avi>a
.file.mpeg>a
.thumb.avi
.thumb.mpeg
.thumb a.file[href$=".avi"]
.thumb a.file[href$=".mpeg"]
  background-image: url("cdn_url_variable/images/file_type_icon/video.png")

.file.xls>a
.file.xlsx>a
.thumb.xls
.thumb.xlsx
.thumb a.file[href$=".xls"]
.thumb a.file[href$=".xlsx"]
  background-image: url("cdn_url_variable/images/file_type_icon/excel.png")

.file.pdf>a
.thumb.pdf
.thumb a.file[href$=".pdf"]
  background-image: url("cdn_url_variable/images/file_type_icon/acrobat.png")

.file.ai>a
.thumb.ai
.thumb a.file[href$=".ai"]
  background-image: url("cdn_url_variable/images/file_type_icon/illustrator.png")

.file.html>a
.thumb.html
.thumb a.file[href$=".html"]
  background-image: url("cdn_url_variable/images/file_type_icon/html.png")

.file.css>a
.thumb.css
.thumb a.file[href$=".css"]
  background-image: url("cdn_url_variable/images/file_type_icon/css.png")

.file.php>a
.thumb.php
.thumb a.file[href$=".php"]
  background-image: url("cdn_url_variable/images/file_type_icon/php.png")

.file.mp3>a
.thumb.mp3
.thumb a.file[href$=".mp3"]
  background-image: url("cdn_url_variable/images/file_type_icon/music.png")

.file.js>a
.thumb.js
.thumb a.file[href$=".js"]
  background-image: url("cdn_url_variable/images/file_type_icon/js.png")

.file.rar>a
.thumb.rar
.file.zip>a
.thumb.zip
.thumb a.file[href$=".zip"]
.thumb a.file[href$=".rar"]
  background-image: url("cdn_url_variable/images/file_type_icon/archive.png")

.file.ses>a
.thumb.ses
.thumb a.file[href$=".ses"]
  background-image: url("cdn_url_variable/images/file_type_icon/audition.png")

.file.mxp>a
.thumb.mxp
.thumb a.file[href$=".mxp"]
  background-image: url("cdn_url_variable/images/file_type_icon/dreamweaver.png")

.file.swf>a
.thumb.swf
.thumb a.file[href$=".swf"]
  background-image: url("cdn_url_variable/images/file_type_icon/flash.png")

.file.indd>a
.thumb.indd
.thumb a.file[href$=".indd"]
  background-image: url("cdn_url_variable/images/file_type_icon/indesign.png")

.file.otf>a
.thumb.otf
.thumb a.file[href$=".otf"]
  background-image: url("cdn_url_variable/images/file_type_icon/otf.png")

.file.psd>a
.thumb.psd
.thumb a.file[href$=".psd"]
  background-image: url("cdn_url_variable/images/file_type_icon/photoshop.png")

.file.ppt>a
.thumb.ppt
.file.pptx>a
.thumb.pptx
.thumb a.file[href$=".ppt"]
.thumb a.file[href$=".pptx"]
  background-image: url("cdn_url_variable/images/file_type_icon/powerpoint.png")

.file.torrent>a
.thumb.torrent
.thumb a.file[href$=".torrent"]
  background-image: url("cdn_url_variable/images/file_type_icon/torrent.png")

.file.ttf>a
.thumb.ttf
.thumb a.file[href$=".ttf"]
  background-image: url("cdn_url_variable/images/file_type_icon/ttf.png")

.file.wav>a
.thumb.wav
.thumb a.file[href$=".wav"]
  background-image: url("cdn_url_variable/images/file_type_icon/wav.png")

.file
  height: 94px
  padding: 5px

.file-box
  display: inline-block
  height: 117px
  margin: 0 8px 16px 0
  width: 94px
  text-align: center
  white-space: nowrap
  vertical-align: top

.file-box .file
.thumb-box .thumb
  margin-bottom: 3px

.file-box .file
  position: relative

.thumb-box .thumb
  background-color: #FFFFFF

.thumb-box .thumb.thumb-loading
  background: none

.loading-status
  animation: flash 1s infinite


.thumb-box .thumb .delete_file_ico
  top: 0
  right: 0
  margin-right: 0
  margin-top: 0
  display: none

.file-name
  text-align: center

#saving_file_box
  display: none

#saving_file_box.show
  display: inline-block

#saving_file_box img
  width: 94px
  height: 94px

.profile-icon
  background: url("cdn_url_variable/images/profile.png") no-repeat right center
  height: 12px
  width: 12px
  background-size: 12px
  display: inline-block
  margin: 1px 0 0 0 !important

.knote-content.images-hidden .compose-area .thumbnail-wrapper
#compose-popup .images-hidden .thumbnail-wrapper
  display: none

.compose-area .uploading-thumb span.img-wrapper .delete_file_ico
  display: none

.uploading-thumb span.img-wrapper .btn-close
  display: block
  right: 0
  top: 0
  position: absolute

.embed
  margin: 10px 0

.embed a
  border: none
  margin-right: 5px

.embed > a
  float: left

.embed a:hover
  border: none
  text-decoration: underline

.embed img
  display: inline-block !important

.embed .origin-link
.embed .origin-link a
  word-wrap: break-word
  word-break: break-all

.embed.link
  .embedded-link
    width: auto
  .origin-link
    display: inline

.embed.link.has-photo
.embed.photo.has-photo
  .embedded-link
  .embedded-link:hover
    border: none
    overflow: hidden
    width: 100%
    .detail
      line-height: 2
      .embedded-title
        font-size: 13px
  .origin-link
    display: block

.embed.link
.embed.photo
  .img-wrapper
    float: left
    margin: 2px 10px 2px 2px
    max-height: 100px !important
    max-width: 100px !important
    box-shadow: 0 0 2px
    border-radius: 5px
    overflow: hidden
    img
      object-fit: contain
    .embedded-favicon
      width: 50px !important
      height: 50px !important
    &.longer-width img
      height: 100px
    &.longer-height img
      width: 100px

.embed.video
  .origin-link
    text-align: center

.knote-content p.embed-original-link
  margin-top: 5px

.embed-original-link a
  background-color: #e6e6e6
  padding: 3px
