@media screen and (max-width: 667px)
  body
    font-size: 14px
    & ::-webkit-scrollbar
      display: none

  .loading-title
    font-size: 50px

  .btn
    padding: 2px 10px
    margin: 0
    font-size: 14px
    line-height: 22px

  .not-mobile
    display: none !important

  #share-pad-popup
    padding: 0
    width: 100%
    left: initial !important
    margin-left: initial !important
    .share-pad-wrapper
      padding: 20px
      .share-message
      .shared-url
        width: 95%

  #container
    box-shadow: 10px 0 10px 8px #000
    left: 0
    right: initial

    &::-webkit-scrollbar
      display: none

    .header
      .title
        display: block !important

      .divider:after
        margin: 0 20px 5px 10px

    #header
      z-index: 200
      .user
        right: 10px
      &.scrolling
        box-shadow: 0px 2px 12px -3px rgba(0,0,0,0.45)
      .left-header
        padding: 10px
        padding-right: 0
        .subject
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden
        .show-compose
          position: fixed
          bottom: 20px
          right: 20px
          font-size: 20px
          width: 45px
          height: 45px
          line-height: 45px
      .right-header
        padding-left: 0
      #setting-dropdown
        top: 50px
        right: 10px

    #header .share-pad-btn
    .header .redirect-to-knotable
    .header .subject
      left: 10px

    .header.padItem
      .left-header
        padding: 0
      .min-k-btn
        margin-left: 10px
      .title
        font-size: 14px
        width: 70%
        margin: 0
        overflow: hidden
        padding: 0

    #header .share-pad .share-pad-dropdown
    .share-pad .share-pad-dropdown
      right: 0
      left: auto

    .padList
      overflow-x: hidden
      .gutter
        display: none
      .compose
        width: 100%
        margin-bottom: 0
        margin-top: 30px
        padding: 0
        border: 1px solid white
        .compose-wrapper
          margin: 10px
      .unarchived-knotes
        margin-top: 30px
      .knote
        margin: 30px auto
        width: 100%
        padding: 20px 0
        .contact
          left: 8px
          top: -13px
          .account-avatar
            width: 23px
            height: 23px
            line-height: 23px
        .knote-title
          opacity: 1
          font-size: 14px
        .knote-header:hover
          background-color: initial
        .knote-content
          padding: 0 20px
        .knote-gutter
          .btn
            padding: 0px 8px
        .knote-actions
          margin-left: 10px
          height: 25px
        .knote-replys
          padding: 0 10px
          .account-avatar
            width: 23px
            height: 23px
            line-height: 23px
        .pomodoro-container
          right: 3px
          z-index: 999
        .knote-compose-popup-cn
          .contenteditable-wrapper
            padding: 0 10px 5px 10px
          .buttons
            padding-right: 10px
            .btn
              padding: 0px 8px

  .user-modal-container
    width: 90%
  .user-modal.welcome
    .user-modal-container
      max-width: 300px
      .item
        width: 300px
        height: 270px
        .welcome-title.first
          padding: 130px 0
          text-align: center
          line-height: 30px
        img
          width: 617px
          max-width: initial
        .knoteup
        .slack
          margin: 10px 0
        .slack
          height: 230px
          width: 750px
        #login-box
          margin: 0

  .share-popup-centered-container
    width: 90%
