.user-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 300
  overflow: hidden
  visibility: hidden
  opacity: 0
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s
  transition: opacity 0.3s 0, visibility 0 0.3s
  &.is-visible
    visibility: visible
    opacity: 1
    -webkit-transition: opacity 0.3s 0, visibility 0 0
    -moz-transition: opacity 0.3s 0, visibility 0 0
    transition: opacity 0.3s 0, visibility 0 0
  .user-modal-container
    background: #28ace8
    -webkit-border-radius: 4px
    border-radius: 4px
    box-shadow: -1px 5px 10px -2px rgba(0,0,0,0.4)
    color: #fff
    position: absolute
    top: 45%
    transform: translateY(-50%)
  &.login
    .user-modal-container
      max-width: 400px
      padding: 0 15px
      margin: 0 auto
      position: relative
      .header
        left: 15px
        position: absolute
        right: 15px
        top: -90px
      a
        outline: none
        cursor: pointer
        text-decoration: none
        &:hover
          color: #204d74
  &.welcome
    .user-modal-container
      padding: 0 15px
      margin: 0 auto
      max-width: 617px
      position: relative
      .item
        background: $brand-primary
        width: 617px
        height: 100%

form
  margin: 0 0 20px
  .form-message
    margin: 7px 0
    font-size: 12px

.owl-theme
  .owl-controls
    .owl-nav
      [class*='owl-']
        background: $brand-primary
        border: 2px solid #fff
        box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)
        &:hover
          background-color: #248fbe
      .owl-prev
        display: none
  .owl-dots .owl-dot
    span
      background: white
    &.active
      span
        background-color: #248fbe
  .owl-item #login-box
    margin-top: 40px
    .signup-link
      font-size: 15px
      margin-top: 30px

.welcome-title
  font-size: 18px
  padding: 15px 0

.welcome-img
  height: 300px
  border-radius: 4px
  box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)
  &.one
    height: 50px
    margin: 30px 0
  &.two
    height: 164px

.logo
  position: relative
  width: 203px
  height: 58px
  display: block
  background: url("/images/sprite_3.png") -4px -3px no-repeat
  margin: 0 auto 12px

.logo:after
  content: "beta"
  display: block
  position: absolute
  right: 0
  top: 44px

.box
  position: relative
  cursor: initial
  .body
    padding: 6%
    .login-form
    #register-form
      .title
        margin: 5px 0 0 0
        text-align: center
        font-weight: 600
        font-size: 16px
        color: #fff
      .message
        text-align: center
        font-size: 14px
        margin: 30px 0
      .control-group
        position: relative
        margin-bottom: 10px
        &:last-of-type
          margin: 0
        .for-user .icon
        .for-password .icon
        .for-email .icon
          border-bottom-left-radius: 4px
          border-top-left-radius: 4px
          border: 2px solid white
          border-right: 0
          width: 35px
          height: 35px
          position: absolute
          background: #28ade8
          color: white
          line-height: 35px
          font-size: 20px
          text-align: center
        .login-button
        #create-account
          border: 2px solid white
          border-radius: 4px
          font-size: 14px
          box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.4)
          &:hover
            background-color: #248fbe
          &.disabled
          &.disabled:hover
            cursor: not-allowed
            background-color: rgb(135, 205, 249)
      .icon-spin2
        display: none
        position: absolute
        top: 9px
        left: calc(50% - 45px)
      &.processing
        .icon-spin2
          display: inline

.box .control-group input[type="text"],
.box .control-group input[type="email"],
.box .control-group input[type="password"]
  border: none
  color: #555
  font-size: 12px
  height: auto
  padding: 10px 6px
  width: 100%
  box-sizing: border-box
  margin: 0
  background-color: white
  -webkit-border-radius: 5px
  border-radius: 5px

.box .control-group [class*="for-"] input
  padding-left: 43px
  background-repeat: no-repeat
  line-height: 19px

#go-login
.signup-link
  display: block
  color: white
  text-align: center
  font-size: 13px
  cursor: pointer
  &:hover
    color: #204d74

.text-desc
  color: white
  font-style: italic
  padding: 3px 0 0

.loading-title
  text-align: center
  font-size: 80px
  color: #28ace8
  position: absolute
  top: 50%
  height: 100px
  margin-top: -100px
  width: 100%
  span
    font-style: italic
