//
// Upload styles
// ---------------------------------------

@import 'nib'
@import 'variables.styl'

.attachment
  float: right
  input[name=file]
    width: 0
  form
    margin: 0;
    margin-right: 6px;
    width: 24px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #555;

.knote-content.images-hidden .compose-area .thumbnail-wrapper
#compose-popup .images-hidden .thumbnail-wrapper
  display: none

.compose-area .uploading-thumb span.img-wrapper .delete_file_ico
  display: none

.uploading-thumb span.img-wrapper .btn-close
  display: block
  right: 0
  top: 0
  position: absolute

span.img-wrapper
  position: relative
  display: inline-block
  overflow: visible
  & .btn-close
    top: -8px
    right: -8px
    display: none

div[contenteditable=true] span.img-wrapper .btn-close
  display: block
  opacity: .5
  z-index: 1

div[contenteditable=true] span.img-wrapper:hover .btn-close
  opacity: 1

.thumbnail-wrapper .embed
  padding: 0

.viewing .thumbnail-wrapper
  border-color: transparent

.thumb.img-wrapper
  position: relative

.delete_file_ico
  position: absolute
  left: 0
  top: 0
  margin: 10px
  cursor: pointer
  width: 12px
  height: 12px
  background: url("/images/sprite_3.png") -150px -251px no-repeat
  z-index: 10

.knote .thumbnail-wrapper .delete_file_ico
.key-note .thumbnail-wrapper .delete_file_ico
.knote .viewing .need-readmoresmall .thumbnail-wrapper .delete_file_ico
.knote .viewing .need-readmore-large .thumbnail-wrapper .delete_file_ico
  display: none

.knote.in-edit .thumbnail-wrapper .delete_file_ico
.key-note.in-edit .thumbnail-wrapper .delete_file_ico
  display: block !important

.thumbnail1
  width: 504px
  height: 378px
  max-width: 98%

.thumbnail2
  width: 251px
  height: 188px
  max-width: 48%

.knote-compose-popup .file-list
  margin-bottom: 0
  position: relative

.transparent
  opacity: 0

.upload-progress
  width: 100%
  height: 12px
  position: relative
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.57) inset
  min-width: 80px
  margin:0 auto
  .bar
    width: 0%
    height: 100%
    background: $brand-primary
    position: absolute
    transition: width .2s, background .4s


.thumbnail-wrapper
  .file
    border: 1px solid $gray-lighter !important
    &:hover
      border: 1px solid $gray-light !important
    .file-name
      display: block
      overflow: hidden
      text-overflow: ellipsis
      margin-top: 92px
      white-space: nowrap
      color: $gray

  .thumb + .file
    display: none

  &.loading-thumb
  &.process-thumb
    .img-wrapper
      padding: 4px
      background: #eee
      .thumb
        min-height: 92px
  &.process-thumb .bar
    animation: color-toggle-success .6s infinite alternate
  &.loading-error .bar
    background: $brand-error


.file > a
.thumb .file
  display: inline-block
  text-decoration: none
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% auto
  background-image: url("cdn_url_variable/images/file_type_icon/txt.png")
  width: 95px
  height: 95px


.file .delete_file_ico
  display: none
  right: 5px

.file:hover .delete_file_ico
  display: block

.file a img
  max-width: 100%
  max-height: 100%

.file .thumbnail-wrapper
  width: 82px
  height: 82px
  position: relative

.file.image>a
.file.gif>a
.file.jpg>a
.file.png>a
.thumb.image
.thumb.gif
.thumb.jpg
.thumb.png
  background-image: none

.file.doc>a
.file.docx>a
.thumb.doc
.thumb.docx
.thumb a.file[href$=".docx"]
.thumb a.file[href$=".doc"]
  background-image: url("cdn_url_variable/images/file_type_icon/word.png")

.file.avi>a
.file.mpeg>a
.thumb.avi
.thumb.mpeg
.thumb a.file[href$=".avi"]
.thumb a.file[href$=".mpeg"]
  background-image: url("cdn_url_variable/images/file_type_icon/video.png")

.file.xls>a
.file.xlsx>a
.thumb.xls
.thumb.xlsx
.thumb a.file[href$=".xls"]
.thumb a.file[href$=".xlsx"]
  background-image: url("cdn_url_variable/images/file_type_icon/excel.png")

.file.pdf>a
.thumb.pdf
.thumb a.file[href$=".pdf"]
  background-image: url("cdn_url_variable/images/file_type_icon/acrobat.png")

.file.ai>a
.thumb.ai
.thumb a.file[href$=".ai"]
  background-image: url("cdn_url_variable/images/file_type_icon/illustrator.png")

.file.html>a
.thumb.html
.thumb a.file[href$=".html"]
  background-image: url("cdn_url_variable/images/file_type_icon/html.png")

.file.css>a
.thumb.css
.thumb a.file[href$=".css"]
  background-image: url("cdn_url_variable/images/file_type_icon/css.png")

.file.php>a
.thumb.php
.thumb a.file[href$=".php"]
  background-image: url("cdn_url_variable/images/file_type_icon/php.png")

.file.mp3>a
.thumb.mp3
.thumb a.file[href$=".mp3"]
  background-image: url("cdn_url_variable/images/file_type_icon/music.png")

.file.js>a
.thumb.js
.thumb a.file[href$=".js"]
  background-image: url("cdn_url_variable/images/file_type_icon/js.png")

.file.rar>a
.thumb.rar
.file.zip>a
.thumb.zip
.thumb a.file[href$=".zip"]
.thumb a.file[href$=".rar"]
  background-image: url("cdn_url_variable/images/file_type_icon/archive.png")

.file.ses>a
.thumb.ses
.thumb a.file[href$=".ses"]
  background-image: url("cdn_url_variable/images/file_type_icon/audition.png")

.file.mxp>a
.thumb.mxp
.thumb a.file[href$=".mxp"]
  background-image: url("cdn_url_variable/images/file_type_icon/dreamweaver.png")

.file.swf>a
.thumb.swf
.thumb a.file[href$=".swf"]
  background-image: url("cdn_url_variable/images/file_type_icon/flash.png")

.file.indd>a
.thumb.indd
.thumb a.file[href$=".indd"]
  background-image: url("cdn_url_variable/images/file_type_icon/indesign.png")

.file.otf>a
.thumb.otf
.thumb a.file[href$=".otf"]
  background-image: url("cdn_url_variable/images/file_type_icon/otf.png")

.file.psd>a
.thumb.psd
.thumb a.file[href$=".psd"]
  background-image: url("cdn_url_variable/images/file_type_icon/photoshop.png")

.file.ppt>a
.thumb.ppt
.file.pptx>a
.thumb.pptx
.thumb a.file[href$=".ppt"]
.thumb a.file[href$=".pptx"]
  background-image: url("cdn_url_variable/images/file_type_icon/powerpoint.png")

.file.torrent>a
.thumb.torrent
.thumb a.file[href$=".torrent"]
  background-image: url("cdn_url_variable/images/file_type_icon/torrent.png")

.file.ttf>a
.thumb.ttf
.thumb a.file[href$=".ttf"]
  background-image: url("cdn_url_variable/images/file_type_icon/ttf.png")

.file.wav>a
.thumb.wav
.thumb a.file[href$=".wav"]
  background-image: url("cdn_url_variable/images/file_type_icon/wav.png")

.file
  height: 94px
  padding: 5px

.file-box
  display: inline-block
  height: 117px
  margin: 0 8px 16px 0
  width: 94px
  text-align: center
  white-space: nowrap
  vertical-align: top

.file-box .file
.thumb-box .thumb
  margin-bottom: 3px

.file-box .file
  position: relative

.loading-status
  animation: flash 1s infinite


.thumb-box .thumb .delete_file_ico
  top: 0
  right: 0
  margin-left: 0
  margin-top: 0
  display: none

.file-name
  text-align: center

#saving_file_box
  display: none

#saving_file_box.show
  display: inline-block

#saving_file_box img
  width: 94px
  height: 94px
