//
// Utility styles
// ---------------------------------------

@import 'nib'
@import 'variables.styl'

textarea
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
  padding: 4px 6px
  margin-bottom: 10px
  font-size: 14px
  color: #616161
  vertical-align: middle
  -webkit-border-radius: 4px
  border-radius: 4px
  border: solid 1px #eee

.pull-right
  float: right

:focus
  outline: none

[contenteditable][placeholder]:empty:before
  content: attr(placeholder)
  color: #ccc
  cursor: text

.hidden,
.hide
  display: none

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center
.text-lowercase
  text-transform: lowercase
.text-uppercase
  text-transform: uppercase
.text-capitalize
  text-transform: capitalize
.bold
  font-weight: bold
.italic
  font-style: italic

.pull-right
  float: right
.pull-left
  float: left

.circle-avatar
  border-radius: 50%

.clearfix:after
  clear: both

.clearfix:before,
.clearfix:after
  display: table
  line-height: 0
  content: ""

.clear
  clear: both

.close
  float: right
  font-size: 20px
  font-weight: bold
  line-height: 20px
  color: $black
  opacity: 0.2

.no-border
  border: none

.bgcolor1
  color: $yellow
  border: 2px solid
.bgcolor2
  color: $red
  border: 2px solid
.bgcolor3
  color: $brand-primary
  border: 2px solid
.bgcolor4
  color: $violet
  border: 2px solid
.bgcolor5
  color: $green
  border: 2px solid

.round-corner-xs
  border-radius: 1px
.round-corner-sm
  border-radius: 2px
.round-corner-m
  border-radius: 4px
.round-corner-lg
  border-radius: 6px
.round-corner-xl
  border-radius: 8px
.round-corner-full
  border-radius: 100%

.shadow-xs
  box-shadow: 0 1px 4px -1px rgba(0,0,0,.33)
.shadow-sm
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.4)
.shadow-m
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.6)
.shadow-lg
  box-shadow: 0 8px 12px -5px rgba(0, 0, 0, 0.8)
.shadow-none
  box-shadow:none
.shadow-dropdown
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5)
.shadow-sp
  box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.45)

.lines-1
  max-height: 16px
.lines-2
  max-height: 32px
.lines-3
  max-height: 48px
.lines-4
  max-height: 64px
.lines-5
  max-height: 80px
.lines-6
  max-height: 96px
.lines-7
  max-height: 112px
.lines-8
  max-height: 128px
.lines-9
  max-height: 144px
.lines-10
  max-height: 160px
.lines-11
  max-height: 176px
.lines-12
  max-height: 192px
.lines-13
  max-height: 208px
.lines-14
  max-height: 224px
.lines-15
  max-height: 240px
.lines-16
  max-height: 256px
.lines-17
  max-height: 272px
.lines-18
  max-height: 288px
.lines-19
  max-height: 304px
.lines-20
  max-height: 320px
.lines-21
  max-height: 336px
.lines-22
  max-height: 352px
.lines-23
  max-height: 368px
.lines-24
  max-height: 384px
.lines-25
  max-height: 400px
.lines-26
  max-height: 416px
.lines-27
  max-height: 432px
.lines-28
  max-height: 448px
.lines-29
  max-height: 464px
.lines-30
  max-height: 480px
.lines-31
  max-height: 496px
.lines-32
  max-height: 512px
