
//
// Global colors
// Add new colors from Google's material design's color plates
// http://www.google.com/design/spec/style/color.html#color-color-palette
// ----------------------------------------------------------------------

$white               =    rgb(255, 255, 255)  // #FFF
$black               =    rgb(0, 0, 0)        // #000
$transparent         =    rgba(0, 0, 0, 0)
$gray-dark           =    rgb(66, 66, 66)     // #424242
$gray                =    rgb(180, 180, 180)  // #b4b4b4
$gray-light          =    rgb(229, 229, 229)  // #e5e5e5
$gray-lighter        =    rgb(241, 241, 241)  // #f1f1f1
$gray-blue           =    rgb(115, 122, 130)
$gray-blue-dark      =    rgb(96, 103, 110)   // #60676E
$red                 =    rgb(255, 105, 97)   // #ff6961
$red-dark            =    rgb(160, 43, 63)    // #A02B3F
$yellow              =    rgb(253, 203, 15)   // #FDCB0F
$green               =    rgb(0, 164, 120)    // #00a478
$green-light         =    rgb(119, 190, 119)  // #77DD77
$violet              =    rgb(209, 95, 238)   // #D15FEE

$brand-primary       =    rgb(40, 172, 232)   // #28ACE8
$brand-primary-dark  =    rgb(36, 143, 190)   // #248FBE

$brand-success       =    rgb(40, 172, 232)
$brand-success-dark  =    rgb(40, 172, 232)

$brand-warning       =    rgb(240, 173, 78)
$brand-warning-dark  =    rgb(236, 151, 31)

$brand-error         =    rgb(217, 83, 79)
$brand-error-dark    =    rgb(201, 48, 44)

$brand-info          =    rgb(40, 172, 232)
$brand-info-dark     =    rgb(49, 176, 213)

$knotable-blue       =    rgb(40, 172, 232)
$knotable-dark-blue  =    rgb(40, 172, 232)
$knotable-green      =    rgb(90, 168, 114)



//
// Link colors
// -------------------------------------------

$link-color          =    $brand-primary
$link-color-hover    =    $brand-primary-dark



//
// Typography colors
// -------------------------------------------

$text-dark     =    $gray-dark
$text-medium   =    #696e73
$text-light    =    $gray


//
// Icon colors
// --------------------------------------------
$icon-gray        =  $gray
$icon-gray-hover  =  $gray-dark
